.todo-container {
    border: 1px solid red;
    width: 80%;
  
}
.check-all-container {
    display: flex;
}

.task-text {
    margin-left: 3%;
}
.task-delete {
    margin-left: 5%;
    width: 8%;
    height: 3%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(240, 79, 79);
    color: white;
    border-radius: 10%;
    border: none;
    padding: 1%;
    font-weight: 600;
}
.task-item {
    display: flex;
}
li {
    list-style-type: none
}
.input-edit {
   margin-left: 3%;
   height: 2%;
   margin-top: auto;
   margin-bottom: auto;
}
.visible {
    display: inline;
}
.no-visible {
    display: none;
}