
.todo-container {
  border-radius: 15px;
  padding: 3%;
  padding-top: 1%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}
button {
  cursor: pointer;
}
h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2%;
}
.todoadd {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin-top: 1%;
}
.input-new-task {
  width: 30%;
  border-radius: 5px;
  height: 20px;
  border: 2px solid rgb(154, 154, 154);
}
.task-add {
  width: 13%;
  border: none;
  border-radius: 8px;
  background-color: rgb(105, 100, 206);
  color: white;
  font-weight: 700;
}
.task-list {
  padding: 0;
  gap: 15px;
  display: flex;
  flex-direction: column;
  height: 350px;
  overflow-y: auto;
  padding-right: 3%;
}
.check-all-container {
  display: flex;
  font-weight: 700;
}
.check-and-delete {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.delete-all-completed {
  width: 20%;
  height: 4%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1%;
  border: none;
  border-radius: 10px;
  background-color: rgb(105, 100, 206);
  color: white;
}
.task-text {
  width: 80%;
  max-width: 80%;
  word-break: break-all;
  height: auto;
  word-wrap: break-word;
  margin-left: 2%;
}
.task-delete {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-right: 3%;
  background-color: rgb(240, 79, 79);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 1%;
  font-weight: 600;
  text-align: center;
}
.task-item {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 10px;
}
li {
  list-style-type: none;
}
.input-edit {
  width: 80%;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 2%;
}
.tab {
  width: 20%;
  border-radius: 10px;
  border: none;
  background-color: rgb(105, 100, 206);
  color: white;
  padding: 1%;
}
.active-tab {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(105, 100, 206);
  color: rgb(9, 9, 107);
  font-weight: 900;
  box-shadow: 2px 1px 20px 1px #c1c1fe;
}
.page-button {
  border-radius: 50%;
  border: none;
  background-color: rgb(209, 255, 255);
  font-size: 20px;
  font-weight: 600;
  color: #4e2407;
  margin: 2%;
}
.active-page-button {
  background-color: rgb(32, 197, 197);
  color: white;
  box-shadow: 1px 1px 5px 1px #c1c1fe;
}
.pagination {
  display: flex;
  justify-content: center;

  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
